<%= partial "partials/head" %>
<%= partial "partials/navigation" %>

<main class="main article">
  <h1><%= current_resource.title %></h1>
  <h1><%= current_resource.data.authors %> </h1>
  <%= yield %>
</main>

<%= partial "partials/footer" %>