---
title: The Story of Coding the Humanities
layout: story
---

<div class="item item-header">
  <div class="block block-red visualisation">
  </div>
  <div class="<%= blog('blocks').articles[0].data.classes %>">
    <h1 class="logo title textbar"><%= blog('blocks').articles[0].data.title %></h1>
    <div><%= blog('blocks').articles[0].body %></div>
  </div>
</div>

<% for item in 2..4 %>
<div class="item item-body">
  <div class="column-left">
  <% blog('blocks').articles.each do |block| %>
  <% if block.data.item == item and block.data.block != 4 %>
    <%= partial(:"partials/story-block", :locals => { :block => block })  %>
  <% elsif block.data.item == item and block.data.block == 4 %>
    </div>
    <div class="column-right">
      <%= partial(:"partials/story-block", :locals => { :block => block })  %>
  <% end %>
  <% end %>
  </div>
</div>
<% end %>

<div class="item item-people">
  <div class="<%= blog('blocks').articles[13].data.classes %>">
    <h1 class="logo title textbar"><%= blog('blocks').articles[13].data.title %></h1>
    <div><%= blog('blocks').articles[13].body %></div>
  </div>
  <div class="block entities">
    <% for entity in blog('blocks').articles[13].data.entities %>
      <%= partial(:"partials/story-entity", :locals => { :entity => entity })  %>
    <% end %>
  </div>
</div>

<div class="item item-about">
  <div class="<%= blog('blocks').articles[14].data.classes %>">
    <h1 class="logo title textbar"><%= blog('blocks').articles[14].data.title %></h1>
    <div><%= blog('blocks').articles[14].body %></div>
  </div>
  <div class="block about-contents">
    <ul class="about-contents-ul left">
      <h2>Articles</h2>
      <% blog('articles').articles.each do |article| %>
       <li><%= article.title %></li>
      <% end %>
    </ul>
    <ul class="about-contents-ul">
      <h2>Projects</h2>
      <% blog('pages').articles.each do |page| %>
       <li><%= page.title %></li>
      <% end %>
    </ul>
  </div>
</div>
