---
title: Coding the Humanities
layout: main
---
<div id="anchor-header" class="layout__item brand-primary">
  <%= partial("partials/navigation", :locals => { :which_is_link_active => 1 }) %>
  <div class="layout__item-grid-content">
    <div class="textbox">
      <h1 class="textbar textbar--big">Coding_</h1><br>
      <h1 class="textbar textbar--big">the_</h1><br>
      <h1 class="textbar textbar--big">Humanities</h1><br>
      <%= blog('blocks').articles[0].body %>
    </div>
  </div>
  <div class="layout__item-offgrid-content layout__item-offgrid-content--no-padding">
    <div class="hammer">
      <img class="hammer__image hammer__image--header" src="./images/hammer-short.svg" alt="">
    </div>
  </div>
</div>

<div id="anchor-video" class="layout__item">
  
</div>

<% for item in 2..4 %>
<div id="anchor-body-<%= item %>" class="layout__item">
  <div class="layout__item-top brand-primary">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => item }) %>
    <img class="full-width-image" src="./images/item-body-<%= item %>.svg" alt="">
  </div>
  <% blog('blocks').articles.each do |block| %>
  <% if block.data.item == item %>
  <div class="layout__item-grid-content">
    <h1 class="textbar textbar--fullwidth"><%= block.title %></h1>
    <div class="textbox"><%= block.body %></div>
  </div>
  <% end %>
  <% end %>
  <div class="layout__item-offgrid-content">
    <h3 class="references-title">Projects:</h3>
    <% blog('projects').articles.each do |post| %>
    <% if post.data.item == item %>
    <%= partial(:"partials/reference", :locals => { :reference => post })  %>
    <% end %>
    <% end %>
    <h3 class="references-title">Publications:</h3>
    <% blog('publications').articles.each do |post| %>
    <% if post.data.item == item %>
    <%= partial(:"partials/reference", :locals => { :reference => post })  %>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>

<div id="anchor-partners" class="layout__item">
  <div class="layout__item-top brand-primary">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 5 }) %>
    <img class="full-width-image" src="images/item-partners.svg" alt="">
  </div>
  <div class="layout__item-grid-content">
    <h1 class="textbar textbar--fullwidth"><%= blog('blocks').articles[4].data.title %></h1>
    <div class="textbox"><%= blog('blocks').articles[4].body %></div>
  </div>
  <div class="layout__item-partners">
    <% for entity in blog('blocks').articles[4].data.partners %>
    <div class="partner">
      <a href="<%= entity.url || 'https://www.linkedin.com/vsearch/f?type=all&keywords=' + entity.name %>">
        <h3 class="partner__name"><%= entity.name %></h3>
        <p class="partner__job"><%= entity.job %></p>
      </a>
    </div> 
    <% end %>
  </div>
</div>

<div id="anchor-about"class="layout__item brand-primary">
  <%= partial("partials/navigation", :locals => { :which_is_link_active => 6 }) %>   
  <div class="layout__item-grid-content">
    <div class="textbox">
      <h1 class="textbar "><%= blog('blocks').articles[5].data.title %></h1>
      <%= blog('blocks').articles[5].body %>
    </div>
  </div>
  <div class="layout__item-offgrid-content">
    <img class="hammer hammer--about" src="./images/hammer-short.svg" alt="">
  </div> 
</div>