---
title: Coding the Humanities
layout: main
---
<div id="top" class="layout__item brand-primary">
  <header class="layout__item-top brand-primary">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 1 }) %>
  </header>
  <article class="layout__item-grid-content">
    <div class="textbox">
      <h1 class="textbar textbar--big">Coding_</h1><br>
      <h1 class="textbar textbar--big">the_</h1><br>
      <h1 class="textbar textbar--big textbar--margin-bottom">Humanities</h1><br>
      <%= blog('blocks').articles[0].body %>
    </div>
  </article>
  <aside class="layout__item-offgrid-content layout__item-offgrid-content--no-padding">
    <div class="hammer">
      <img onclick="" class="hammer__image hammer__image--header " src="./images/hammer-short.svg" alt="">
    </div>
  </aside>
</div>

<div class="layout__item">
  <div onclick="" class="masonry">
    <% for img in 1..34 %>
    <img onclick="" class="masonry__image" src="./images/masonry/<%= img %>.jpg">
    <% end %>
  </div>
</div>

<% for item in 2..4 %>
  <% blog('blocks').articles.each do |block| %>
  <% if block.data.item == item %>
  <header id="<%= block.data.anchor %>" class="layout__item-top brand-primary image-background-<%= item %>">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => item }) %>
    <img style="opacity: 0;" class="image image--fullwidth" src="./images/item-body-<%= item %>.svg"></header>
  <article class="layout__item-grid-content">
    <div class="textbox textbox--accent">
      <h1 class="textbar"><%= block.title %></h1>
      <%= block.body %>
    </div>
  </article>
  <% end %>
  <% end %>
  <aside class="layout__item-offgrid-content">
    <h3 class="references-title">Projects:</h3>
    <% blog('projects').articles.each do |post| %>
    <% if post.data.item == item %>
    <%= partial(:"partials/reference", :locals => { :reference => post })  %>
    <% end %>
    <% end %>
    <h3 class="references-title">Publications:</h3>
    <% blog('publications').articles.each do |post| %>
    <% if post.data.item == item %>
    <%= partial(:"partials/reference", :locals => { :reference => post })  %>
    <% end %>
    <% end %>
  </aside>
</div>
<% end %>

<div id="partners" class="layout__item">
  <header class="layout__item-top brand-primary">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 5 }) %>
    <img class="image image--fullwidth image--padding" src="images/item-partners.svg" alt="">
  </header>
  <article class="layout__item-grid-content">
    <div class="textbox">
      <h1 class="textbar"><%= blog('blocks').articles[4].data.title %></h1>
      <%= blog('blocks').articles[4].body %>
    </div>
  </article>
  <div class="layout__item-partners">
    <% for entity in blog('blocks').articles[4].data.partners %>
    <div class="partner brand-primary">
      <a href="<%= entity.url || 'https://www.linkedin.com/vsearch/f?type=all&keywords=' + entity.name %>">
        <h3 class="partner__name"><%= entity.name %></h3>
        <p class="partner__job"><%= entity.job %></p>
      </a>
    </div> 
    <% end %>
  </div>
</div>

<div id="about" class="layout__item brand-primary">
  <header class="layout__item-top brand-primary">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 6 }) %>
  </header>
  <article class="layout__item-grid-content">
    <div class="textbox">
      <h1 class="textbar"><%= blog('blocks').articles[5].data.title %></h1>
      <%= blog('blocks').articles[5].body %>
    </div>
  </article>
  <aside class="layout__item-offgrid-content layout__item-offgrid-content--no-padding">
    <div class="hammer">
      <img class="hammer__image hammer__image--about" src="./images/hammer-short.svg" alt="">
    </div>
  </aside> 
</div>