---
title: The Story of Coding the Humanities
---

<%= blog.articles[4].title %>

<main class="story">
  <% blog.articles[0...5].each do |article| %>
    <article>
      <h1>
        <a href="<%= article.url %>"><%= article.title %></a>
        <time><%= article.date.strftime('%b %e %Y') %></time>
      </h1>

      <%= article.summary %>

      <a href="<%= article.url %>">Read more</a>
    </article>
  <% end %>

  <p style="color: pink; width: 100%;">this is the story</p>

  <div class="item item-header">
    <p style="color: pink; width: 100%;">this is an item</p>
    <div class="block block-red visualisation">
      <p style="color: pink;">this is a block</p>
    </div>
    <div class="{{ site.blocks[0].classes }}">
      <p style="color: pink;">this is a block</p>
      <div>{{ site.blocks[0].content }}</div>
    </div>
  </div>

  {% for num in (1...1) %}
  <div class="item item-body"> 
    <p style="color: pink; width: 100%;">this is a item</p>
    <div class="column-left">
    {% for block in site.blocks %}
    {% if block.item == num and block.block != 3 %}
      <%= partial "partials/block" %>
    {% elsif block.item == num and block.block == 3%}
    </div>
    <div class="column-right">
      {% include block.html %}
    {% endif %}
    {% endfor %}
    </div>
  </div>
  {% endfor %}

</main>
