---
title: Coding the Humanities
layout: main
type: projects
---
<%= partial("partials/navigation", :locals => { :which_is_link_active => 1 }) %>
<div class="item item-header item-posts-header projects-color">
  <div class="column-left">
    <img class="image-publications" src="images/projects.svg" alt="">
  </div>
  <div class="column-right">
    <div class="block">
      <h1 class="title textbar">Projects</h1>
      <p>This page shows all the projects</p>
      <ul class="item-header-nav">
        <% for item in 2..4 %>
        <% blog('projects').articles.each do |post| %>
        <% if post.data.item == item %>
          <a href="<%= config.http_prefix + post.data.type + '.html#' + post.slug %>"><li><%= post.title %></li></a>
        <% end %>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% for item in 2..4 %>
<% blog('projects').articles.each do |post| %>
<% if post.data.item == item %>
<a id="<%= post.slug %>"></a>
<div class="item item-project">
  <div class="column-left">
    <div class="block">
      <h1 class="textbar title"><%= post.title %></h1>
      <p><%= post.body %></p>
      <% if post.data.link %>
      <a href="<%= post.data.link %>" class="btn btn-inverse">  >> </a>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% end %>