---
title: Coding the Humanities
layout: main
type: projects
---

<div id="item-header" class="item item-header">
  <div class="column-left">
    <div class="<%= blog('blocks').articles[0].data.classes %>">
      <h1 class="logo main-logo title textbar textbar-big">Coding_</h1>
      <br>
      <h1 class="logo main-logo title textbar textbar-big">the_</h1>
      <br>
      <h1 class="logo main-logo title textbar textbar-big">Humanities</h1>
      <div><%= blog('blocks').articles[0].body %></div>
    </div>
  </div>
  <div class="column-right">
    <img class="hammer-header" src="./images/logo-short.svg" alt="">
  </div>
</div>

<div id="item-video" class="item item-video">
  <div class="block block-video">
    <img class="playbutton" src="./images/playbutton.svg" alt="">
  </div>
</div>

<% for item in 2..4 %>
<a id="item-body-<%= item %>"></a>
<%= partial("partials/navigation", :locals => { :which_is_link_active => item }) %>
<img class="item-body-image" src="./images/item-body-<%= item %>.svg" alt="">
<div class="item item-body item-num-<%= item %>">
  <div class="column-left">
  <% blog('blocks').articles.each do |block| %>
  <% if block.data.item == item and block.data.block != 4 %>
    <%= partial(:"partials/story-block", :locals => { :block => block })  %>
  <% elsif block.data.item == item and block.data.block == 4 %>
    </div>
    <div class="column-right">
      <%= partial(:"partials/story-block", :locals => { :block => block })  %>
  <% end %>
  <% end %>
  </div>
</div>
<% end %>

<a id="item-partners"></a>
<%= partial("partials/navigation", :locals => { :which_is_link_active => 5 }) %>
<img class="group-yellow-black" src="images/groupyellowblack.png" alt="">
<div  class="item item-partners">
  <div class="column-left">
    <div class="<%= blog('blocks').articles[13].data.classes %>">
      <h1 class="title textbar"><%= blog('blocks').articles[13].data.title %></h1>
      <div class="block-small-typography"><%= blog('blocks').articles[13].body %></div>
    </div>
  </div>
  <div class="block entities">
    <% for entity in blog('blocks').articles[13].data.entities %>
      <%= partial(:"partials/story-entity", :locals => { :entity => entity })  %>
    <% end %>
  </div>
</div>

<a id="item-about"></a>
<%= partial("partials/navigation", :locals => { :which_is_link_active => 6 }) %>
<div class="item item-about">   
  <div class="column-left">
    <div class="<%= blog('blocks').articles[14].data.classes %>">
      <h1 class="title textbar"><%= blog('blocks').articles[14].data.title %></h1>
      <div class="block-small-typography"><%= blog('blocks').articles[14].body %></div>
    </div>
  </div>
  <div class="column-right">
    <img class="hammer-about" src="./images/logo-short.svg" alt="">
  </div> 
  
</div>