---
title: Coding the Humanities
layout: main
type: projects
---
<div class="layout__item brand-tertiary">
  <header class="layout__item-top">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 1 }) %>
  </header>
  <img class="image image--halfwidth image--padding" src="images/projects.svg" alt="">
</div>

<main class="layout__item">
  <div class="layout__item-grid-content">
    <h1 class="textbar textbar--fullwidth textbar--fullwidth--small">Projects</h1>
    <% for item in 2..4 %>
    <% blog('projects').articles.each do |post| %>
    <% if post.data.item == item %>
    <h1 id="<%= post.slug %>" class="textbar textbar--fullwidth-small"><%= post.title %></h1>
    <div class="textbox textbox--padding-bottom">
      <%= post.body %>
      <div class="links-btn-container">
        <a href="<%= config.http_prefix + '#' + 'item-body-' + item.to_s %>" class="btn btn-inverse btn-back"> &lt;&lt;&nbsp;Back </a>
        <% if post.data.studentProjects %>
        <!-- onclick is iphone hover hack -->
        <div onclick="" class="btn-student-project-container">
          <div class="btn btn-inverse btn-student-project">Projects</div>
          <ul>
            <% post.data.studentProjects.each do |project| %>
            <li><a href="<%= project.url %>"> <%= project.title %></a></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <% if post.data.reference %>
        <a href="<%= post.data.reference.url %>" class="btn btn-inverse btn-site"> 
          Site&nbsp;&gt;&gt; </a>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
</main>