---
title: Coding the Humanities
layout: main
type: publications
---
<%= partial("partials/navigation", :locals => { :which_is_link_active => 1 }) %>
<div class="item item-header item-posts-header publications-color">
  <div class="column-left">
    <img class="image-publications" src="images/publications.svg" alt="">
  </div>
  <div class="column-right">
    <div class="block">
      <h1 class="title textbar">Publications</h1>
      <p>This page shows all the publications</p>
      <ul class="publications-nav">
        <% blog('publications').articles.each do |post| %>
          <li><%= post.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% for item in 2..4 %>
<% post_num = 1 %>
<div class="posts-grouper">
<% blog('publications').articles.each do |post| %>
<% if post.data.item == item %>
<div class="item item-post <% if (post_num % 2) == 1 %>item-post-left <% end %>">
  <div class="column-left">
    <div class="block">
      <h1 class="textbar title"><%= post.title %></h1>
      <p><%= post.body %></p>
      <h3>-- <%= post.data.authors[0] %></h3>
    </div>
  </div>
</div>
<% post_num = post_num + 1 %>
<% end %>
<% end %>
</div>
<% end %>