---
title: Coding the Humanities
layout: main
type: publications
---
<div class="layout__item brand-secundary">
  <header class="layout__item-top">
    <%= partial("partials/navigation", :locals => { :which_is_link_active => 1 }) %>
  </header>
  <img class="image image--halfwidth image--padding" src="images/publications.svg" alt="">
</div>

<main class="layout__item">
  <div class="layout__item-grid-content">
    <h1 class="textbar textbar--fullwidth textbar--fullwidth--small">Projects</h1>
    <% for item in 2..4 %>
    <% blog('publications').articles.each do |post| %>
    <% if post.data.item == item %>
    <h1 id="<%= post.slug %>" class="textbar textbar--fullwidth-small"><%= post.title %></h1>
    <div class="textbox textbox--padding-bottom textbox--with-emph-links">
      <%= post.body %>
      <div>
        <a href="<%= config.http_prefix + '#' + 'item-body-' + item.to_s %>" class="btn btn--small"> &lt;&lt;&nbsp;Back </a>
        <!-- onclick is iphone hover hack -->
        <% if post.data.reference %>
        <a href="<%= post.data.reference.url %>" class="btn btn--small"> 
          Site&nbsp;&gt;&gt; </a>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
</main>